.earth{
    background-image: url("../imgs/space.jpg");
    
    min-height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .dashboard {
        position: absolute;
        height: 70%;
        width: 20%;
        top: 50%;
        right: 0;
        margin-right: 2rem;
        transform: translateY(-50%);
        background-color: rgb(67, 115, 188);
        border-radius: 1rem;
        z-index: 9999999;
    }
    

    .earth-options{
        position: absolute;
        z-index: 9999;
        height: 10vh;
        background-color: transparent;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        gap: 1rem;
        
        .disaster-options{
            display: flex;
            gap: 1rem;

            span{
                display: flex;
                gap: 2rem;
                padding: 1rem;
                border-radius: 50%;
                border: 1px solid white;
                transition: all 0.1s ease-in-out;
    
    
                

                &:hover{
                    cursor: pointer;
                }

                
    
    
                .icon{
                    height: 30px;
                    width: 30px;
                    z-index: 999;
                    color: white;

                    &.fire{
                        color: #fe9c33;
                        filter: brightness(120%);
                    }
                    &.volcano{
                        color: rgb(163, 39, 39);
                        filter: brightness(120%);
                    }
                    &.storm{
                        color: #585299;
                        filter: brightness(120%);
                    }

                    
                }
            }
        }

        .earth-buttons{
            display: flex;
            gap: 1rem;

            span{
                display: flex;
                gap: rem;
                border: 1px solid red;
                padding: 0.5rem;
                border-radius: 50%;
                border: 1px solid white;
                transition: all 0.1s ease-in-out;
    
    
                &:hover{
                    background-color: #0b3d91;
                    color: white;
                    cursor: pointer;
                }
    
    
                .icon{
                    height: 30px;
                    width: 30px;
                }
            }
        }

    }

    .earth-container{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        height: auto;
    }

    .hovered-country{
        cursor: pointer;
    }
}

